.appContainer {
  display: "block";
  padding: 30px
}

.headerContainer {
    display: flex;
  }
  
.header { 
    text-align: right;
    width: "100%";
    margin-top: "1.33em";
    margin-right: "1.33em" 
}

.leftMenu {
  width: 82%;
}

.rightMenu {
  display: flex;
  margin: 14px;
}

.cartTotal {
  margin: 7px 20px;
  font-weight: bold;
}

.cartItems {
  cursor: pointer;
}
